body {
  background-color: lightblue;
}
header {
  background: #000;
}
header nav {
  padding: 20px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
header nav a {
  color: #fff;
  margin-right: 1em;
  margin-left: 1em;
}
#main-title {
  background-color: #999;
  height: 400px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px;
  background-image: url(../images/titlebg.jpg);
  background-size: cover;
  /* filter: brightness(70%); */
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
