body {
  background-color: lightgreen;
}

header {
  background: #000;
}
header nav {
  padding: 20px;
  text-align: center;
}
header nav a {
  color: #fff;
  margin-right: 2em;
  margin-left: 2em;
}
#main-title {
  background-color: #999;
  height: 400px;
  padding: 50px;
  background-image: url(../images/titlebg.jpg);
  background-size: cover;
  /* filter: brightness(70%); */
  color: #fff;
}

main .container {
  display: flex;
}
main .container article {
  width: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 40px;
}
ul li {
  margin-bottom: 10px;
}
main .container article:last-child {
  background-color: #efefef;
}
